<?php include("amk_criteria.php"); ?>
<body>
<form method="post" action="../../review/summary/" id="review">
	<p><?= _("label_reviewing") ?></p><br>
	<input type="hidden" value="<?= $studentId ?>" name="studentid">
	<p><?= $studentId ?> <?= $studentName ?> (<?= $topic ?>)</p>
<table id="reviewform">
<tr class="firstrow">	<td></td>
		<td>0</td>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
	</tr>
<tr class="topic"><td></td><td colspan="6"><?php echo $topics[0];?></td></tr>
	<?php echo form_row(0, $criteria);?>
	<?php echo form_row(1, $criteria);?>
	<?php echo form_row(2, $criteria);?>
<tr class="topic"><td></td><td colspan="6"><?php echo $topics[1];?></td></tr>
	<?php echo form_row(3, $criteria);?>
	<?php echo form_row(4, $criteria);?>
	<?php echo form_row(5, $criteria);?>
	<?php echo form_row(6, $criteria);?>
<tr class="topic"><td></td><td colspan="6"><?php echo $topics[2];?></td></tr>
	<?php echo form_row(7, $criteria);?>
	<?php echo form_row(8, $criteria);?>
	<?php echo form_row(9, $criteria);?>
<tr class="topic"><td></td><td colspan="6"><?php echo $topics[3];?></td></tr>
	<?php echo form_row(10, $criteria);?>
	<?php echo form_row(11, $criteria);?>
	<?php echo form_row(12, $criteria);?>
<tr class="topic"><td></td><td colspan="6"><?php echo $topics[4];?></td></tr>
	<?php echo form_row(13, $criteria);?>
	<?php echo form_row(14, $criteria);?>
	<?php echo form_row(15, $criteria);?>
</table>
<p id="formerror"><?= _("label_form_error") ?></p>
<input type="submit" value='<?= _("label_submit") ?>' id="reviewSubmit" style="margin:auto;width:25%;display:block;">
</form>
<div id="counter"><?= _("label_current_average") ?><p id="average"></p></div>
</body>
<?php
//use ThesisManager\Library\amk_criteria;


function form_row($row, $criteria) {
	$tablerow = "<tr>";
	for ($i=0;$i<7;$i++) {
		if ($i==0) {
			$tablerow .= "<td class='criteria'>" . $criteria[$row][0] . "</td>";
		}
		else {
			$id = (string)$row . (string)($i-1);
			$tablerow .= "<td class='review_column'><input type='radio' id='radio" . $id . "' name='radio" . $row . "' value='" . ($i-1) . "'>";
			$tablerow .= "<label for='radio" . $id . "'>" . $criteria[$row][$i] . "</label></td>";


		}
	}
	$tablerow .= "</tr>";
	return $tablerow;
}



?>
