<?php
include("amk_criteria.php");
function get_results($topics) {
	$average = 0;
	$complete = 0;
	for ($i=0;$i<16;$i++) {
	if (isset($_POST['radio' . $i])) {
			$grades[$i] = intval($_POST['radio' . $i]);
			$average = $average + $grades[$i];
			$complete++;
		}
	}
	if ($complete == 16) {
		$average = $average / 16;
		$topic1 = round(($grades[0] + $grades[1] + $grades[2]) / 3, 2);
		$topic2 = round(($grades[3] + $grades[4] + $grades[5] + $grades[6]) / 4, 2);
		$topic3 = round(($grades[7] + $grades[8] + $grades[9]) / 3, 2);
		$topic4 = round(($grades[10] + $grades[11] + $grades[12]) / 3, 2);
		$topic5 = round(($grades[13] + $grades[14] + $grades[15]) / 3, 2);
	echo '<form action="../save/" method="post"><h1 class="header">' . _("label_results") . '</h1><input type="hidden" name="authorid" value="'.$_POST['studentid'].'"><br><br><h3>' . $topics[0] . '  ' . _("label_weighted_grade") . ': <input type="text" name="topic1" size="3" value="'.$topic1.'" readonly></h3>
	<h3>' . $topics[1] . ' ' . _("label_weighted_grade") . ' : <input type="text" name="topic2" size="3" value="'.$topic2.'" readonly></h3><h3>' . $topics[2] . ' ' . _("label_weighted_grade") . ': <input type="text" name="topic3" size="3" value="'.$topic3.'" readonly></h3>
	<h3>' . $topics[3] . ' ' . _("label_weighted_grade") . ': <input type="text" name="topic4" size="3" value="'.$topic4.'" readonly></h3><h3>' . $topics[4] . ' ' . _("label_weighted_grade") . ': <input type="text" name="topic5" size="3" value="'.$topic5.'" readonly></h3><br><br>
	' . _("label_comment") . ': <br><textarea name="comment" rows="4" cols=80 maxlenght="499">' .$_POST["comment"]. '</textarea><br><br>
	<h1><b>' . _("label_overall_average") . ': </b><input type="text" name="average" value="' .number_format($average, 1, '.', ''). '" readonly><br><br></h1><button type="submit" class="button is-info"> ' . _("label_submit_review") . '</button></form>';
	}
	else {
		echo '<h2>' . _("label_summary_error") . '</h2>';
	}
}
get_results($topics);
?>
