<div data-ng-controller="AdminController as admin">
    <h1 class="title"><?= _("label_manage_users") ?></h1>
	<div class="level">
		<div class="field is-grouped">
			<p class="control is-expanded">
				<input class="input"type="text" placeholder="Search" data-ng-model="admin.q"
					   data-ng-change="admin.setPage(1)">
			</p>
			<p class="control is-expanded">
				<input class="input" type="number"
					   data-ng-model="admin.perPage"
					   min="1" max="100" step="1"
					   value="{{admin.perPage}}"
					   data-ng-change="admin.setPage(admin.p.currentPage)">
			</p>
			<div class="field-label">
				<label class="label has-text-left"><?= _("label_per_page") ?></label>
			</div>
		</div>
		<nav class="pagination">
			<a class="pagination-previous"
			   data-ng-click="admin.setPage(admin.p.currentPage - 1)"
			   data-ng-disabled="admin.p.currentPage === 1">
				<?= _("button_previous") ?>
			</a>
			<a class="pagination-next"
			   data-ng-click="admin.setPage(admin.p.currentPage + 1)"
			   data-ng-disabled="admin.p.currentPage === admin.p.totalPages"><?= _("button_next") ?></a>
			<ul class="pagination-list">
				<li data-ng-repeat="page in admin.p.pages">
					<a class="pagination-link"
					   data-ng-class="{'is-current':admin.p.currentPage === page}"
					   data-ng-click="admin.setPage(page)">{{ page }}</a>
				</li>
			</ul>
		</nav>
	</div>
    <table class="table is-striped is-narrow">
        <thead>
            <th><?= _("label_labraid") ?></th>
            <th><?= _("label_name") ?></th>
            <th><?= _("label_email") ?></th>
        </thead>
        <tbody>
            <tr data-ng-repeat="user in admin.userList | filter: admin.q | limitTo: admin.perPage"
				data-ng-click="admin.selectedUser = $index">
                <td>{{ user.labraId }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
	<div class="modal" data-ng-class="{'is-active':admin.selectedUser >= 0}">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title"><?= _("label_edit_user") ?></p>
				<button class="delete" data-ng-click="admin.selectedUser = -1; admin.saved = false"></button>
			</header>
			<section class="modal-card-body">
				<form class="content">
					<div class="field">
						<label class="label"><?= _("label_labraid") ?></label>
						<p>{{ admin.userList[admin.selectedUser].labraId }}</p>
					</div>
					<div class="field">
						<label class="label"><?= _("label_name") ?></label>
						<p>{{ admin.userList[admin.selectedUser].firstName }} {{ admin.userList[admin.selectedUser].lastName }}</p>
					</div>
					<div class="field">
						<label class="label"><?= _("label_roles") ?></label>
						<p class="control">
							<label class="checkbox">
								<input type="checkbox" data-ng-model="admin.userList[admin.selectedUser].roles[1]['set']">
								{{ admin.userList[admin.selectedUser].roles[1]['name'] }}
							</label><br />
							<label class="checkbox">
								<input type="checkbox" data-ng-model="admin.userList[admin.selectedUser].roles[2]['set']">
								{{ admin.userList[admin.selectedUser].roles[2]['name'] }}
							</label><br />
							<label class="checkbox">
								<input type="checkbox" data-ng-model="admin.userList[admin.selectedUser].roles[4]['set']">
								{{ admin.userList[admin.selectedUser].roles[4]['name'] }}
							</label><br />
							<label class="checkbox">
								<input type="checkbox" data-ng-model="admin.userList[admin.selectedUser].roles[8]['set']">
								{{ admin.userList[admin.selectedUser].roles[8]['name'] }}
							</label><br />
							<label class="checkbox">
								<input type="checkbox" data-ng-model="admin.userList[admin.selectedUser].roles[16]['set']">
								{{ admin.userList[admin.selectedUser].roles[16]['name'] }}
							</label><br />
							<label class="checkbox">
								<input type="checkbox" data-ng-model="admin.userList[admin.selectedUser].roles[32]['set']">
								{{ admin.userList[admin.selectedUser].roles[32]['name'] }}
							</label>
						</p>
					</div>
				</form>
			</section>
			<footer class="modal-card-foot">
				<button class="button is-info" data-ng-click="admin.saveUser()" data-ng-class="{'is-loading':admin.clicked,'is-success':admin.saved}">
					<span class="icon is-small" data-ng-show="admin.saved">
						<i class="fa fa-check"></i>
					</span>
					<span><?= _("button_save") ?></span>
				</button>
				<button class="button" data-ng-click="admin.selectedUser = -1; admin.saved = false">
					<span><?= _("button_cancel") ?></span>
				</button>
			</footer>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/admin/admin.controller.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/user/user.service.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/pagination/pagination.service.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/pagination/startfrom.filter.js?v=1.0" defer></script>
