.review_column {
	border: 1px solid #00497d;
	padding: 0.3%;
}
#reviewForm tr td:nth-child(1) {
	border: none;
}
#reviewForm tr:nth-child(1) {
	font-size: 18;
	text-align: center;
	font-weight: bold;
}
table {
	border-collapse: collapse;
}
input[type="radio"] {
	float: right;
}
input[type="radio"]:checked + label {
}

label:hover, input[type="radio"]:hover, .review_column, input[type="submit"]:hover {
	cursor: pointer;
}

.topic {
	text-align: center;
	font-weight: bold;
	background-color: #00497d;
	color: white;
}
.criteria {
	color: white;
	font-weight: bold;
	background-color: #00497d;
	padding: 0.3%;
}
#counter {
	position: fixed;
    bottom: 0;
    right: 0;
    width: 15%;
    border: 1px solid white;
	background-color: #00497d;
	color: white;
	font-size: 20;
	text-align: center;
}
#reviewSubmit {
	margin: 1%;
	margin-left: 50%;
	padding: 15px;
	font-size: 18;
	color: white;
	font-weight: bold;
}
#formerror {
	color: red;
	text-align: center;
	font-weight: bold;
}
.firstrow {
	text-align: center;
	font-size: 18;
	font-weight: bold;
}
#addversion:hover {
	cursor: pointer;
}
.header {
	font-size: 18;
	font-weight: bold;
}
