<div data-ng-controller="CoordinatorController as coordinator">
	<h1 class="title"><?= _("label_manage_supervisions") ?></h1>
	<div class="level">
		<div class="field is-grouped">
			<p class="control is-expanded">
				<input class="input"type="text" placeholder="Search" data-ng-model="coordinator.q"
					   data-ng-change="coordinator.setPage(1)">
			</p>
			<p class="control is-expanded">
				<input class="input" type="number"
					   data-ng-model="coordinator.perPage"
					   min="1" max="100" step="1"
					   value="{{coordinator.perPage}}"
					   data-ng-change="coordinator.setPage(coordinator.p.currentPage)">
			</p>
			<div class="field-label">
				<label class="label has-text-left"><?= _("label_per_page") ?></label>
			</div>
		</div>
		<nav class="pagination">
			<a class="pagination-previous"
			   data-ng-click="coordinator.setPage(coordinator.p.currentPage - 1)"
			   data-ng-disabled="coordinator.p.currentPage === 1">
			<?= _("button_previous") ?>
		</a>
		<a class="pagination-next"
		   data-ng-click="coordinator.setPage(coordinator.p.currentPage + 1)"
		   data-ng-disabled="coordinator.p.currentPage === coordinator.p.totalPages"><?= _("button_next") ?></a>
			<ul class="pagination-list">
			<li data-ng-repeat="page in coordinator.p.pages">
				<a class="pagination-link"
				   data-ng-class="{'is-current':coordinator.p.currentPage === page}"
					   data-ng-click="coordinator.setTabTwoPage(page)">{{ page }}</a>
				</li>
			</ul>
		</nav>
	</div>
	<table class="table is-striped is-narrow">
		<thead>
			<th><?= _("label_id") ?></th>
			<th><?= _("label_name") ?></th>
			<th>1. <?= _("label_supervisions") ?></th>
			<th>2. <?= _("label_supervisions") ?></th>
		</thead>
		<tbody>
			<tr data-ng-repeat="supervisor in coordinator.supervisorsList | filter: coordinator.q | limitTo: coordinator.perPage"
				data-ng-click="coordinator.selectedSupervisor = $index">
				<td>{{ supervisor.labraId }}</td>
				<td>{{ supervisor.name }}</td>
				<td>{{ supervisor.currentPrimarySupervisions }} / {{ supervisor.maxPrimarySupervisions }}</td>
				<td>{{ supervisor.currentSecondarySupervisions }} / {{ supervisor.maxSecondarySupervisions }}</td>
			</tr>
		</tbody>
	</table>
	<div class="modal" data-ng-class="{'is-active':coordinator.selectedSupervisor >= 0}">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title"><?= _("label_edit_supervisions") ?></p>
				<button class="delete" data-ng-click="coordinator.selectedSupervisor = -1"></button>
			</header>
			<section class="modal-card-body">
				<form class="content">
					<div class="field">
						<label class="label"><?= _("label_id") ?></label>
						<p>{{ coordinator.supervisorsList[coordinator.selectedSupervisor].labraId }}</p>
					</div>
					<div class="field">
						<label class="label"><?= _("label_name") ?></label>
						<p>{{ coordinator.supervisorsList[coordinator.selectedSupervisor].name }}</p>
					</div>
					<div class="field is-horizontal">
						<div class="field-label">
							<label class="label"><?= _("label_primary_supervisions") ?></label>
						</div>
						<div class="field-body">
							<div class="field">
								<p class="control">
									<input class="input" type="number"
										   data-ng-model="coordinator.supervisorsList[coordinator.selectedSupervisor].maxPrimarySupervisions"
										   min="0" max="200" step="1"
										   value="{{coordinator.supervisorsList[coordinator.selectedSupervisor].maxPrimarySupervisions}}">
								</p>
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label">
							<label class="label"><?= _("label_secondary_supervisions") ?></label>
						</div>
						<div class="field-body">
							<div class="field">
								<p class="control">
									<input class="input" type="number"
										   data-ng-model="coordinator.supervisorsList[coordinator.selectedSupervisor].maxSecondarySupervisions"
										   min="1" max="100" step="1"
										   value="{{coordinator.supervisorsList[coordinator.selectedSupervisor].maxSecondarySupervisions}}">
								</p>
							</div>
						</div>
					</div>
				</form>
			</section>
			<footer class="modal-card-foot">
				<button class="button is-info" data-ng-click="coordinator.saveSupervisor()" data-ng-class="{'is-loading':coordinator.clicked,'is-success':coordinator.saved}">
					<span class="icon is-small" data-ng-show="coordinator.saved">
						<i class="fa fa-check"></i>
					</span>
					<span><?= _("button_save") ?></span>
				</button>
				<button class="button" data-ng-click="coordinator.selectedSupervisor = -1; coordinator.saved = false">
					<span><?= _("button_cancel") ?></span>
				</button>
			</footer>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/coordinator/supervisor.controller.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/user/user.service.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/pagination/pagination.service.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/pagination/startfrom.filter.js?v=1.0" defer></script>
