<div data-ng-controller="CoordinatorController as coordinator">
	<h1 class="title">
		<?= _("label_manage_theses") ?>
	</h1>
	<div class="level">
		<div class="field is-grouped">
			<p class="control is-expanded">
				<input class="input" type="text" placeholder="Search" data-ng-model="coordinator.q" data-ng-change="coordinator.setPage(1)">
			</p>
			<p class="control is-expanded">
				<input class="input" type="number" data-ng-model="coordinator.perPage" min="1" max="100" step="1" value="{{coordinato.perPage}}" data-ng-change="coordinator.setPage(coordinator.p.currentPage)">
			</p>
			<div class="field-label">
				<label class="label has-text-left"><?= _("label_per_page") ?></label>
			</div>
		</div>
		<nav class="pagination">
			<a class="pagination-previous" data-ng-click="coordinator.setPage(coordinator.currentPage - 1)" data-ng-disabled="coordinator.p.currentPage === 1">
				<?= _("button_previous") ?>
			</a>
			<a class="pagination-next" data-ng-click="coordinator.setTabOnePage(coordinator.p.currentPage + 1)" data-ng-disabled="coordinator.p.currentPage === coordinator.p.totalPages">
				<?= _("button_next") ?>
			</a>
			<ul class="pagination-list">
				<li data-ng-repeat="page in coordinator.p.pages">
					<a class="pagination-link" data-ng-class="{'is-current':coordinator.p.currentPage === page}" data-ng-click="coordinator.setPage(page)">{{ page }}</a>
				</li>
			</ul>
		</nav>
	</div>
	<table class="table is-striped is-narrow">
		<thead>
			<th>
				<?= _("label_student_id") ?>
			</th>
			<th>
				<?= _("label_student_name") ?>
			</th>
			<th>1.
				<?= _("label_thesis_supervisor") ?>
			</th>
			<th>2.
				<?= _("label_thesis_supervisor") ?>
			</th>
			<th>
				<?= _("label_date") ?>
			</th>
		</thead>
		<tbody>
			<tr data-ng-repeat="thesis in coordinator.thesesList | filter: coordinator.q | limitTo: coordinator.perPage" data-ng-click="coordinator.selectedThesis = $index">
				<td>{{ thesis.studentId }}</td>
				<td>{{ thesis.studentName }}</td>
				<td>{{ thesis.primarySupervisorName }}</td>
				<td>{{ thesis.secondarySupervisorName }}</td>
				<td>{{ thesis.startDate }}</td>
			</tr>
		</tbody>
	</table>
	<div class="modal" data-ng-class="{'is-active':coordinator.selectedThesis >= 0}">
		<div class="modal-background"></div>
		<div class="modal-card">
			<header class="modal-card-head">
				<p class="modal-card-title">
					<?= _("label_edit_thesis") ?>
				</p>
				<button class="delete" data-ng-click="coordinator.selectedThesis = -1"></button>
			</header>
			<section class="modal-card-body">
				<form class="content">
					<div class="field">
						<label class="label"><?= _("label_author") ?></label>
						<p>{{ coordinator.thesesList[coordinator.selectedThesis].studentName }}, {{ coordinator.thesesList[coordinator.selectedThesis].studentId }}</p>
					</div>
					<div class="field">
						<label class="label"><?= _("label_topic") ?></label>
						<p>{{ coordinator.thesesList[coordinator.selectedThesis].topic }}</p>
					</div>
					<div class="field">
						<label class="label"><?= _("label_description") ?></label>
						<p>{{ coordinator.thesesList[coordinator.selectedThesis].description }}</p>
					</div>
					<div class="field">
						<label class="label"><?= _("label_client_name") ?></label>
						<p>{{ coordinator.thesesList[coordinator.selectedThesis].clientName }}</p>
					</div>
					<div class="field">
						<label class="label"><?= _("label_client_email") ?></label>
						<p>{{ coordinator.thesesList[coordinator.selectedThesis].clientEmail }}</p>
					</div>

					<div class="field">
						<label class="label">1. <?= _("label_thesis_supervisor") ?></label>
						<p class="control">
							<span class="select">
									<select data-ng-model="coordinator.thesesList[coordinator.selectedThesis].primarySupervisorId"
											data-ng-options="supervisor.labraId as (supervisor.labraId  + ': ' + supervisor.name)
															 disable when supervisor.notAnOptionPrimary
															 for supervisor in coordinator.supervisors"
											required>
									</select>
								</span>
						</p>
					</div>
					<div class="field">
						<label class="label">2. <?= _("label_thesis_supervisor") ?></label>
						<p class="control">
							<span class="select">
								<select data-ng-model="coordinator.thesesList[coordinator.selectedThesis].secondarySupervisorId"
										data-ng-options="supervisor.labraId as (supervisor.labraId  + ': ' + supervisor.name)
														 disable when supervisor.notAnOptionSecondary
														 for supervisor in coordinator.supervisors"
										required>
								</select>
							</span>
						</p>
					</div>
					<div class="field">
						<label class="label"><?= _("label_comment") ?></label>
						<div class="control">
							<textarea class="textarea"></textarea>
						</div>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
								<input type="checkbox" data-ng-model="coordinator.thesesList[coordinator.selectedThesis].approved">
								<?= _("label_approved") ?>
							</label>
						</p>
					</div>
				</form>
			</section>
			<footer class="modal-card-foot">
				<button class="button is-info" data-ng-click="coordinator.saveThesis()" data-ng-class="{'is-loading':coordinator.clicked,'is-success':coordinator.saved}">
						<span class="icon is-small" data-ng-show="coordinator.saved">
							<i class="fa fa-check"></i>
						</span>
						<span><?= _("button_save") ?></span>
					</button>
				<button class="button" data-ng-click="coordinator.selectedThesis = -1; coordinator.saved = false">
						<span><?= _("button_cancel") ?></span>
					</button>
			</footer>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/coordinator/theses.controller.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/thesis/thesis.service.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/user/user.service.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/pagination/pagination.service.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/pagination/startfrom.filter.js?v=1.0" defer></script>
