<div class="columns">
	<div class="column is-6">
		<form method="post" action="#">
			<h1 class="title"><?= _("label_my_thesis") ?></h1>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_student_id") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $labraId ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_author") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $author ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_thesis_client") ?></label>
				</div>
				<div class="field-body">
					<div class="field is-grouped">
						<div class="control is-expanded">
							<input class="input" type="text" placeholder="<?= _("label_name") ?>">
						</div>
					</div>
					<div class="field">
						<div class="control is-expanded">
							<input class="input" type="text" placeholder="<?= _("label_email") ?>">
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_thesis_title") ?></label>
				<div class="control">
					<input class="input" type="text">
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_description") ?></label>
				<div class="control">
					<textarea class="textarea"></textarea>
				</div>
			</div>
			<div class="field">
				<p class="control">
					<button class="button is-info" ng-class="{'is-loading':auth.clicked}"><?= _("button_submit") ?></button>
				</p>
			</div>
		</form>
	</div>
	<div class="column">
		<h1 class="title"><?= _("label_versions") ?></h1>
		<?= $versions ?>
		<!--
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<article class="tile is-child box">
					<p class="subtitle">ONT_v0.0.1</p>
					<div class="content">
						<p>Uploaded 4.4.2017<br />Comments: 3</p>
					</div>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
					<p class="subtitle">ONT_v0.0.2</p>
					<div class="content">
						<p>Uploaded 7.4.2017<br />Comments: 2</p>
					</div>
				</article>
			</div>
			<div class="tile is-parent">
				<article class="tile is-child box">
					<p class="subtitle">ONT_v0.0.3</p>
					<div class="content">
						<p>Uploaded 10.4.2017<br />Comments: 0</p>
					</div>
				</article>
			</div>
		</div>
		-->
		<div class="tile is-ancestor">
			<div class="tile is-parent">
				<div class="tile is-child box has-text-centered is-disabled">
					<i class="fa fa-plus fa-4x"></i>
				</div>
			</div>
			<div class="tile is-parent"></div>
			<div class="tile is-parent"></div>
		</div>
	</div>
</div>
