<div class="columns" data-ng-controller="StudentController as student">
	<div class="column is-6">
		<h1 class="title"><?= _("label_my_thesis") ?></h1>
		<p><?= sprintf(_("text_thesis_approved"), $approver) ?>.</p>
		<br />
		<form method="post" action="#">
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_student_id") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $studentId ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_author") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $studentName ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_primary_supervisor") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $primarySupervisor ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_secondary_supervisor") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $secondarySupervisor ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_peer") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $peer ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_thesis_client") ?></label>
				<div class="field-body">
					<div class="field is-grouped">
						<div class="control is-expanded">
							<input class="input" type="text" value="<?= $clientName ?>" disabled>
						</div>
					</div>
					<div class="field">
						<div class="control is-expanded">
							<input class="input" type="text" value="<?= $clientEmail ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_topic") ?></label>
				<div class="control">
					<input class="input" type="text" value="<?= $topic ?>" disabled>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_description") ?></label>
				<div class="control">
					<textarea class="textarea" disabled><?= $description ?></textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="column">
		<h1 class="title">
			<?= _("label_versions") ?>
		</h1>
		<div class="thesis-version box"
			 data-ng-repeat="version in student.versions track by $index"
			 data-ng-class="{'last':$last}"
			 data-ng-click="student.selectedVersion = $index">
			<p>{{ version.title }} </p>
			<p>{{ version.subtitle }} </p>
		</div>
	</div>

	<div class="modal" data-ng-class="{'is-active':student.selectedVersion >= 0}">
		<div class="modal-background"></div>
		<div class="modal-card">
			<form name="versionForm" data-ng-submit="student.saveVersion()">
				<header class="modal-card-head">
					<p class="modal-card-title">
						<?= _("label_create_new_version") ?>
					</p>
					<button class="delete" data-ng-click="student.selectedVersion = -1"></button>
				</header>
				<section class="modal-card-body">
					<div class="field">
						<label class="label"><?= _("label_version") ?></label>
						<div class="control">
							<input class="input" type="text"
								   data-ng-model="student.versions[student.selectedVersion].title"
								   placeholder="<?= _("label_version") ?> v0.99"
								   required>
						</div>
					</div>
					<div class="field">
						<label class="label"><?= _("label_comment") ?></label>
						<div class="control">
							<textarea class="textarea"
									  data-ng-model="student.versions[student.selectedVersion].comment"
									  required></textarea>
						</div>
					</div>
					<label class="label"><?= _("label_files") ?></label>
					<table class="table is-striped is-narrow">
						<thead>
							<th>
								<?= _("label_file_name") ?>
							</th>
							<th></th>
						</thead>
						<tbody>
							<tr data-ng-repeat="file in student.versions[student.selectedVersion].files">
								<td>{{ file.name }}</td>
								<td class="has-text-right">
									<a class="button is-small is-danger"
									   data-ng-click="student.versions[student.selectedVersion].files.splice($index, 1)">
										<span class="icon is-small">
											<i class="fa fa-times"></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="field is-horizontal">
						<div class="field-label">
							<label class="label"><?= _("label_previous") ?></label>
						</div>
						<div class="field-body is-grouped">
							<div class="field">
								<p class="control is-expanded">
									<span class="select is-fullwidth">
										<select data-ng-model="student.selectedFile"
												data-ng-options="file.name group by file.name for file in student.versions.files">
										</select>
									</span>
								</p>
							</div>
							<div class="field">
								<p class="control has-text-right">
									<button class="button is-info">
										<span><?= _("button_add") ?></span>
									</button>
								</p>
							</div>
						</div>
					</div>
					<div class="field is-horizontal">
						<div class="field-label">
							<label class="label"><?= _("label_new") ?></label>
						</div>
						<div class="field-body is-grouped">
							<div class="field">
								<p class="control">
									<input type="file" name="fileupload">
								</p>
							</div>
							<div class="field">
								<p class="control has-text-right">
									<button class="button is-info">
										<span><?= _("button_add") ?></span>
									</button>
								</p>
							</div>
						</div>
					</div>
					<hr />
					<div class="field">
						<label class="label"><?= _("label_estimated_date") ?></label>
						<p class="control">
							<span class="select">
								<select name="date" data-ng-model="student.versions[student.selectedVersion].estimatedDate" required>
									<?= $dates ?>
								</select>
							</span>
						</p>
					</div>
					<div class="field">
						<p class="control">
							<label class="checkbox">
								<input type="checkbox" data-ng-model="student.versions[student.selectedVersion].ready">
								<?= _("label_version_ready") ?>
							</label>
						</p>
					</div>
				</section>
				<footer class="modal-card-foot">
					<button class="button is-info"  data-ng-class="{'is-loading':student.clicked,'is-success':student.saved}">
						<span class="icon is-small" data-ng-show="student.saved">
							<i class="fa fa-check"></i>
						</span>
						<span><?= _("button_save") ?></span>
					</button>
					<button class="button" data-ng-click="student.selectedVersion = -1; student.saved = false">
						<span><?= _("button_cancel") ?></span>
					</button>
				</footer>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/student/student.controller.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/thesis/thesis.service.js?v=1.0" defer></script>
