<div class="columns">
	<div class="column is-6">
		<br />
		<form method="post" action="../../review/form/2">
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_student_id") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $studentId ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_author") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $studentName ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_primary_supervisor") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $primarySupervisor ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_secondary_supervisor") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $secondarySupervisor ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_thesis_approver") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $approver ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_peer") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $peer ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_thesis_client") ?></label>
				<div class="field-body">
					<div class="field is-grouped">
						<div class="control is-expanded">
							<input class="input" type="text" value="<?= $clientName ?>" disabled>
						</div>
					</div>
					<div class="field">
						<div class="control is-expanded">
							<input class="input" type="text" value="<?= $clientEmail ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_topic") ?></label>
				<div class="control">
					<input class="input" type="text" value="<?= $topic ?>" disabled>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_description") ?></label>
				<div class="control">
					<textarea class="textarea" disabled><?= $description ?></textarea>
				</div>
			</div>
			<input type="hidden" value="<?= $studentId ?>" name="studentid">
			<button type="submit" class="button is-info"><?= _("label_go_review") ?></button>
		</form>
	</div>
	<div class="column">

		</div>
	</div>
