<div class="columns" data-ng-controller="StudentController as thesis">
	<div class="column is-6">
		<h1 class="title"><?= _("label_thesis_suggestion") ?></h1>
		<p><?= _("description_thesis_topic") ?></p>
		<br />
		<form name="thesisForm" data-ng-submit="thesis.saveSuggestion()">
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_student_id") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $studentId ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_author") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $studentName ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field is-horizontal">
				<div class="field-label">
					<label class="label"><?= _("label_email") ?></label>
				</div>
				<div class="field-body">
					<div class="field">
						<div class="control">
							<input class="input" type="text" value="<?= $studentEmail ?>" disabled>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_thesis_client") ?></label>
				<div class="field-body">
					<div class="field is-grouped">
						<div class="control is-expanded">
							<input class="input" type="text" data-ng-model="thesis.clientName" data-ng-init="thesis.clientName = '<?= $clientName ?>'" placeholder="<?= _("label_client_name") ?>" required>
						</div>
					</div>
					<div class="field">
						<div class="control is-expanded">
							<input class="input" type="email" data-ng-model="thesis.clientEmail" data-ng-init="thesis.clientEmail = '<?= $clientEmail ?>'" placeholder="<?= _("label_client_email") ?>" required>
						</div>
					</div>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_topic") ?></label>
				<div class="control">
					<input class="input" type="text" data-ng-model="thesis.topic" data-ng-init="thesis.topic = '<?= $topic ?>'" required>
				</div>
			</div>
			<div class="field">
				<label class="label"><?= _("label_description") ?></label>
				<div class="control">
					<textarea class="textarea" data-ng-model="thesis.description" data-ng-init="thesis.description = '<?= $description ?>'" required></textarea>
				</div>
			</div>
			<div class="field">
				<p class="control">
					<button class="button is-info" data-ng-class="{'is-loading':thesis.clicked,'is-success':thesis.saved}">
						<span class="icon is-small" data-ng-show="thesis.saved">
							<i class="fa fa-check"></i>
						</span>
						<span><?= _("button_save") ?></span>
					</button>
				</p>
			</div>
			<div class="field">
				<p class="control" data-ng-messages="thesis.messages.error" data-ng-show="thesisForm.$submitted" role="alert">
					<span class="help is-danger" data-ng-message="name"><?= _("error_empty_client_name") ?></span>
					<span class="help is-danger" data-ng-message="email"><?= _("error_empty_client_email") ?></span>
					<span class="help is-danger" data-ng-message="invalid"><?= _("error_invalid_client_email") ?></span>
					<span class="help is-danger" data-ng-message="topic"><?= _("error_empty_topic") ?></span>
					<span class="help is-danger" data-ng-message="description"><?= _("error_empty_description") ?></span>
					<span class="help is-danger" data-ng-message="general"><?= _("error_general") ?></span>
				</p>
			</div>
		</form>
	</div>
	<div class="column">
		<h1 class="title"><?= _("label_versions") ?></h1>
		<div class="thesis-version box last is-disabled">
			<p></p>
			<p></p>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/student/student.controller.js?v=1.0" defer></script>
<script type="text/javascript" src="/js/thesis/thesis.service.js?v=1.0" defer></script>
