<form method="post" action="/user/login/">
    <article class="message is-danger">
        <div class="message-body">
            Environment set to development!
        </div>
    </article>
	<h1 class="subtitle">Development login</h1>
    <div class="field">
        <p class="control has-icon">
            <input type="text" class="input" name="labraid" placeholder="<?= _("label_labraid") ?>" maxlength="7" required>
            <span class="icon">
                <i class="fa fa-user-o"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <span class="select">
            <select name="devRole">
                <option value="63">All</option>
                <option value="1">Admin</option>
                <option value="2">Student</option>
                <option value="4">Thesis Supervisor</option>
                <option value="8">Language Instructor</option>
                <option value="16">Education Coordinator</option>
                <option value="32">Education Supervisor</option>
            </select>
            </span>
        </p>
    </div>
    <div class="field">
        <p class="control">
            <button class="button is-info" ng-class="{'is-loading':auth.clicked}"><?= _("button_login") ?></button>
        </p>
    </div>
</form><hr />
