<form method="post" action="/user/login/">
	<h2 class="subtitle"><?= _("label_labranet_login") ?></h2>
	<div class="field">
		<p class="control has-icon">
			<input type="text"
				   class="input"
				   name="labraid"
				   data-ng-model="auth.login.labraid"
				   data-ng-class="{'is-danger':auth.messages.login.labraid.error, 'is-success':auth.messages.login.labraid.success}"
				   placeholder="<?= _("label_labraid") ?>"
				   maxlength="7"
				   required>
			<span class="icon">
				<i class="fa fa-user-o"></i>
			</span>
		</p>
	</div>
	<div class="field">
		<p class="control has-icon">
			<input type="password"
				   class="input"
				   name="password"
				   data-ng-model="auth.login.password"
				   ng-class="{'is-danger':auth.messages.login.password.error}"
				   placeholder="<?= _("label_password") ?>"
				   maxlength="72"
				   required>
			<span class="icon">
				<i class="fa fa-lock"></i>
			</span>
		</p>
	</div>
	<div class="field">
		<p class="control"
		   data-ng-messages="auth.messages.login.error"
		   data-ng-show="loginForm.$submitted"
		   role="alert">
			<span class="help is-danger" data-ng-message="labraid"><?= _("error_enter_labraid") ?></span>
			<span class="help is-danger" data-ng-message="password"><?= _("error_enter_password") ?></span>
			<span class="help is-danger" data-ng-message="failed"><?= _("error_login_failed") ?></span>
		</p>
	</div>
	<div class="field">
		<p class="control">
			<button class="button is-info" ng-class="{'is-loading':auth.clicked}"><?= _("button_login") ?></button>
		</p>
	</div>
</form>
