<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JAMK Thesis Manager</title>
	<meta name="description" content="JAMK Thesis Manager">
	<meta name="author" content="JAMK">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/styles.css?v=1.0">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body class="is-flex is-flex-column">
    <section class="hero is-jamk is-bold" style="min-height: 150px;">
        <div class="hero-body">
            <div class="container">
                <h1 class="title"><?= _("label_jamk") ?></h1>
                <h2 class="subtitle"><?= _("label_thesis_management")?></h2>
            </div>
        </div>
    </section>
    <section class="section is-flex-fill">
        <div class="columns" data-ng-cloak>
            <div class="column is-offset-one-quarter is-half">
                <h1 class="title">
                    <?= _("error_404") ?>
                </h1>
                <hr />
                <h2 class="subtitle">
                    <?= _("error_page_not_found") ?>
                </h2>
                <a href="/">
                    <?= _("label_return") ?>
                </a>
            </div>
        </div>
    </section>

	<footer class="footer">
        <div class="content has-text-centered">
            <a>&copy; 2017 JAMK</a>
        </div>
	</footer>
</body>

</html>
