<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JAMK Thesis Manager</title>
	<meta name="description" content="JAMK Thesis Manager">
	<meta name="author" content="JAMK">
    <meta name="csrf-token" content="<?= $csrfToken ?>" data-ng-model="csrf.token">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/styles2.css">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/angular.min.js?v=1.6.4" defer></script>
	<script type="text/javascript" src="/js/angular.messages.min.js?v=1.6.4" defer></script>
	<script type="text/javascript" src="/js/app.module.js?v=1.0" defer></script>
    <script type="text/javascript" src="/js/app.config.js?v=1.0" defer></script>
	<script type="text/javascript" src="/js/reviewscript.js"></script>
</head>

<body class="is-flex is-flex-column" data-ng-app="app" ng-cloak>
    <nav class="nav is-jamk" data-ng-init="burgerMenu = false">
        <div class="nav-left">
            <a class="nav-item" href="/" style="height: 5rem; color: #FFF;">
                <?= _("label_jamk") ?>
            </a>
        </div>
		<div class="nav-center">
            <div class="nav-item">
                <span class="select is-small">
                    <form method="post" action="/lang?r=<?= $path ?>">
                        <select name="language" onchange="this.form.submit()">
                            <option value="fi_FI" <?php if ($_SESSION["Locale"] == "fi_FI") echo "selected"; ?>>FI</option>
                            <option value="en_US" <?php if ($_SESSION["Locale"] == "en_US") echo "selected"; ?>>EN</option>
                        </select>
                    </form>
                </span>
            </div>
        </div>
        <span class="nav-toggle" style="width: 5rem; height: 5rem;" data-ng-click="burgerMenu = !burgerMenu" data-ng-class="{'is-active':burgerMenu}">
            <span></span>
            <span></span>
            <span></span>
        </span>
		<div class="nav-menu nav-right" data-ng-class="{'is-active':burgerMenu}">
			<?= $burgerMenuItems ?>
		</div>
    </nav>
    <section class="section columns is-small is-flex-fill is-marginless is-paddingless">
        <nav class="column is-2 is-primary is-marginless is-hidden-touch" style="background-color: whitesmoke;">
            <?= $leftMenuItems ?>
        </nav>
        <div class="column is-marginless">
            <?= $content ?>
        </div>
    </section>
	<footer class="footer">
        <div class="content has-text-centered">
            <a>&copy; 2017 JAMK</a>
        </div>
	</footer>
</body>

</html>
