<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>JAMK Thesis Manager</title>
	<meta name="description" content="JAMK Thesis Manager">
	<meta name="author" content="JAMK">
    <meta name="csrf-token" content="<?= $csrfToken ?>" data-ng-model="csrf.token">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/css/styles.css?v=1.0">
    <link rel="stylesheet" href="/fa/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

    <script type="text/javascript" src="/js/angular.min.js?v=1.6.4" defer></script>
	<script type="text/javascript" src="/js/angular.messages.min.js?v=1.6.4" defer></script>
    <script type="text/javascript" src="/js/app.module.js?v=1.0" defer></script>
    <script type="text/javascript" src="/js/app.config.js?v=1.0" defer></script>
    <script type="text/javascript" src="/js/authentication/authentication.controller.js?v=1.0" defer></script>
    <script type="text/javascript" src="/js/authentication/login.service.js?v=1.0" defer></script>
</head>

<body class="is-flex is-flex-column" data-ng-app="app">
    <section class="hero is-jamk is-bold" style="min-height: 150px;">
        <div class="hero-body">
            <div class="container">
                <h1 class="title"><?= _("label_jamk") ?></h1>
                <h2 class="subtitle"><?= _("label_thesis_management")?></h2>
            </div>
        </div>
    </section>
    <section class="section is-flex-fill">
		<div class="container">
			<noscript><?= _("label_javascript_disabled") ?></noscript>
			<div class="columns" data-ng-controller="AuthenticationController as auth" data-ng-cloak>
				<div class="column is-one-third-desktop is-offset-one-third-desktop">
					<?= $devForm ?>
					<?= $loginForm ?>
				</div>
			</div>
		</div>
    </section>

	<footer class="footer">
        <div class="content has-text-centered">
            <a>&copy; 2017 JAMK</a>
        </div>
	</footer>
</body>

</html>
